html , body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    width: 66px;
}
.row{
    margin: 6px 0;
}
.row input{
    border-radius: 5px;
    margin: 0;
    padding: 15px 60px;
    border: 2px solid black;
}
#button-ac{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    width: 217px;
}